Dashboard.json
[{"id":"8b5181db.fd80a","type":"inject","z":"ee3adac9.30ea18","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["fb038cb9.5b823","2ee8be69.55ef22"]]},{"id":"fb038cb9.5b823","type":"rpi-dht22","z":"ee3adac9.30ea18","name":"","topic":"Air temp sensor DHT22","dht":22,"pintype":"0","pin":"27","x":310,"y":160,"wires":[["cc13db64.38e438","795c930b.b33f1c","493008f5.1f3c68"]]},{"id":"782cc9a9.2c2bc8","type":"ui_gauge","z":"ee3adac9.30ea18","name":"Air temperature","group":"2ab16f1a.d1ea2","order":0,"width":0,"height":0,"gtype":"gage","title":"Air temperature","label":"℉","format":"{{value}}","min":"-20","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":80,"wires":[]},{"id":"8c4e9d9a.9aab8","type":"ui_gauge","z":"ee3adac9.30ea18","name":"Water temperature","group":"2ab16f1a.d1ea2","order":0,"width":"0","height":"0","gtype":"gage","title":"Water temperature","label":"℉","format":"{{value}}","min":"-20","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":400,"wires":[]},{"id":"2ee8be69.55ef22","type":"rpi-ds18b20","z":"ee3adac9.30ea18","topic":"","array":false,"name":"Water temp sensor DS18B20","x":320,"y":480,"wires":[["da746d8d.02128","26a65e94.a86512"]]},{"id":"6b7ff142.6e4e7","type":"ui_chart","z":"ee3adac9.30ea18","name":"Air temparature","group":"74ed76a7.e56138","order":0,"width":0,"height":0,"label":"Air Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":720,"y":40,"wires":[[],[]]},{"id":"92b9fd04.5e5","type":"ui_chart","z":"ee3adac9.30ea18","name":"Water temperature","group":"74ed76a7.e56138","order":0,"width":0,"height":0,"label":"Water temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":440,"wires":[[],[]]},{"id":"cc13db64.38e438","type":"function","z":"ee3adac9.30ea18","name":"humidity to payload","func":"msg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["ac0c7ee3.32bc1","d46897d2.3bc6e8"]]},{"id":"ac0c7ee3.32bc1","type":"ui_gauge","z":"ee3adac9.30ea18","name":"Air humidity","group":"812e86a0.f4a2f8","order":0,"width":"6","height":"3","gtype":"donut","title":"Air humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":140,"wires":[]},{"id":"d46897d2.3bc6e8","type":"ui_chart","z":"ee3adac9.30ea18","name":"Air humidity","group":"812e86a0.f4a2f8","order":0,"width":"6","height":"3","label":"Air humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":180,"wires":[[],[]]},{"id":"624584b7.24392c","type":"mqtt out","z":"ee3adac9.30ea18","name":"","topic":"water_sensor","qos":"","retain":"","broker":"329c2164.97f4ee","x":730,"y":520,"wires":[]},{"id":"6ba505b9.a4401c","type":"mqtt out","z":"ee3adac9.30ea18","name":"","topic":"air_sensor","qos":"","retain":"","broker":"329c2164.97f4ee","x":730,"y":260,"wires":[]},{"id":"795c930b.b33f1c","type":"function","z":"ee3adac9.30ea18","name":"format_JSON","func":"msg.payload = {\n    \"time\":new Date().toString(),\n    \"msgid\":msg._msgid,\n    \"sensor\":msg.sensorid,\n    \"air_temperature\": msg.payload*9/5+32,\n    \"humidity\": msg.humidity,\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["6ba505b9.a4401c","ff7f62d1.b061c"]]},{"id":"da746d8d.02128","type":"function","z":"ee3adac9.30ea18","name":"format_JSON","func":"msg.payload = {\n    \"time\":new Date().toString(),\n    \"msgid\":msg._msgid,\n    \"sensor\":\"ds18b20\",\n    \"water_temperature\": msg.payload*9/5+32\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[["624584b7.24392c","38f32d2a.5e1252"]]},{"id":"493008f5.1f3c68","type":"function","z":"ee3adac9.30ea18","name":"C to F","func":"msg.payload = msg.payload * 9 / 5 + 32\nmsg.payload= msg.payload.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["6b7ff142.6e4e7","782cc9a9.2c2bc8"]]},{"id":"26a65e94.a86512","type":"function","z":"ee3adac9.30ea18","name":"C to F","func":"msg.payload = msg.payload * 9 / 5 + 32\nmsg.payload= msg.payload.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[["8c4e9d9a.9aab8","92b9fd04.5e5"]]},{"id":"db0722dc.2e267","type":"rpi-gpio out","z":"ee3adac9.30ea18","name":"","pin":"12","set":"","level":"0","freq":"","out":"out","x":420,"y":580,"wires":[]},{"id":"87922cf1.79d63","type":"ui_switch","z":"ee3adac9.30ea18","name":"","label":"Water Pump Switch","group":"8ef2afce.a6fbf","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":580,"wires":[["db0722dc.2e267"]]},{"id":"cffa44e0.59d908","type":"ui_slider","z":"ee3adac9.30ea18","name":"","label":"Frequency","group":"8ef2afce.a6fbf","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"2","step":1,"x":110,"y":740,"wires":[["19779447.2a376c","6955fd82.80d7c4"]]},{"id":"19779447.2a376c","type":"function","z":"ee3adac9.30ea18","name":"","func":"function sleep (time) {\n return new Promise((resolve) => setTimeout(resolve, time));\n}\n\nif(msg.payload === 0){\n    msg.payload = true\n}\n\nif(msg.payload === 1){\n    msg.payload = false;\n    sleep(3);\n    msg.payload = true;\n}\n\nif(msg.payload === 2){\n    msg.payload = false\n    sleep(1).then(() => {\n           msg.payload = true;\n           });\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":740,"wires":[[]]},{"id":"6955fd82.80d7c4","type":"debug","z":"ee3adac9.30ea18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":680,"wires":[]},{"id":"38f32d2a.5e1252","type":"wiotp out","z":"ee3adac9.30ea18","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e648d8f8.e22e68","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"Water_temperature","x":750,"y":580,"wires":[]},{"id":"ff7f62d1.b061c","type":"wiotp out","z":"ee3adac9.30ea18","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e648d8f8.e22e68","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"Air_Temperature","x":740,"y":320,"wires":[]},{"id":"2ab16f1a.d1ea2","type":"ui_group","z":"","name":"Temperature Snapshot","tab":"77e238e0.7d55f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"74ed76a7.e56138","type":"ui_group","z":"","name":"Temperature Trend","tab":"77e238e0.7d55f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"812e86a0.f4a2f8","type":"ui_group","z":"","name":"Air Humidity","tab":"77e238e0.7d55f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"329c2164.97f4ee","type":"mqtt-broker","z":"","name":"","broker":"a1qwj5xyszbvn7.iot.eu-west-1.amazonaws.com","port":"8883","tls":"370b1e6.e3299e2","clientid":"RaspberryPi","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8ef2afce.a6fbf","type":"ui_group","z":"","name":"Switch","tab":"77e238e0.7d55f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e648d8f8.e22e68","type":"wiotp-credentials","z":"","name":"","org":"q1fbxs","serverName":"","devType":"PiGateway","devId":"RaspberryPi","keepalive":"60","cleansession":true,"tls":"370b1e6.e3299e2","usetls":false},{"id":"77e238e0.7d55f8","type":"ui_tab","z":"","name":"Project Anthena","icon":"dashboard"},{"id":"370b1e6.e3299e2","type":"tls-config","z":"","name":"AWS","cert":"","key":"","ca":"","certname":"7cf51615fe-certificate.pem.crt","keyname":"7cf51615fe-private.pem.key","caname":"VeriSign-Class 3-Public-Primary-Certification-Authority-G5.pem","verifyservercert":true}]